body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
}

.slideshow {
    margin: auto;
    text-align: center;
}

.slideshow>h1 {
    color: #666666;
    font-size: 40px;
}

.slideshow .window {
    width: 800px;
    overflow: hidden;
}

.slideshow .slides {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.8s;
}

.slideshow .slides>img {
    width: 800px;
}

.slideshow .slides>img.current {

}

.slideshow .slides>img.previous {

}

.slideshow .slides>img.next {
    
}

.slideshow .btns {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.slideshow .btns>button {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: #eeeeee;
    color: #666666;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 100%;
    transition: all 0.2s;
}

.slideshow .btns>button:hover,
.slideshow .btns>button.active {
    background: #666666;
    color: #eeeeee;
}